.sidebar{
    width:220px;
    height:100vh;
    background-color:#111;
    color:white;
    padding:20px;
    position:fixed;
    left:0;
    top:0;
}

.logo{
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:12px;
    cursor:pointer;
    border-radius:6px;
}

.sidebar li:hover{
    background-color:#333;
}