.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:190px;
    height:100vh;
    background-color:#111;
    
    z-index:999;
}


.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar li{
    padding: 8px;
    cursor: pointer;
}

.sidebar li:hover{
    background-color: #333;
}

.submenu{
    margin-left: 10px;
}

.submenu2{
    margin-left: 20px;
}